<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>Todo List</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-refresher slot="fixed" @ionRefresh="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

      <ion-header collapse="condense">
        <ion-toolbar class="flex items-center  justify-between ">
          <ion-title size="large">Todo List</ion-title>
          <ion-buttons  slot="end">
            <ion-button class="" default-href="/" @click="deleteSelected" :hidden="selected.length === 0">
              <ion-icon class="text-red-600 text-3xl mb-2.5-safe mr-4" :icon="trashSharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-list>
        <MessageListItem v-for="task in tasks" :key="task.id" :task="task" :selected="selected" @taskSelected="addSelected" @taskDeselected="removeSelected" @checkTask="checkTask" />
      </ion-list>
    </ion-content>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button>
        <ion-button expand="block" @click="openModal"> <ion-icon :icon="add"></ion-icon></ion-button>
      </ion-fab-button>
    </ion-fab>
  </ion-page>
</template>

<script setup lang="ts">
import {
  IonContent,
  IonHeader,
  IonList,
  IonPage,
  IonRefresher,
  IonRefresherContent,
  IonTitle,
  IonButtons,
  IonFabButton,
  IonFab,
  IonIcon,
  IonButton,
  IonToolbar, modalController,
} from '@ionic/vue';
import MessageListItem from '@/components/TaskListItem.vue';
import { getTasks, Task } from '@/data/tasks';
import {ref} from 'vue';
import { trashSharp, add } from 'ionicons/icons';
const tasks = ref<Task[]>(getTasks());
const selected = ref<number[]>([]);
import CreateTaskModal from "@/components/CreateTaskModal.vue";

const checkTask = (taskId: number) => {
  const task = tasks.value.find(task => task.id === taskId);
  if (task) {
    task.check = !task.check;
  }
};
const addSelected = (taskId: number) => {
  selected.value.push(taskId);
};

const removeSelected = (taskId: number) => {
  selected.value = selected.value.filter(id => id !== taskId);
};

const deleteSelected = () => {
  tasks.value = tasks.value.filter(task => !selected.value.includes(task.id));
  selected.value = [];
};

const createTask = (task: Task) => {
  task.id = tasks.value.length + 1;
  tasks.value.push(task);
};

const openModal = async () => {
  const modal = await modalController.create({
    component: CreateTaskModal,
  });

  await modal.present();

  const { data, role } = await modal.onWillDismiss();

  if (role === 'confirm') {
    createTask(data as Task)
  }
};

const refresh = (ev: CustomEvent) => {
  setTimeout(() => {
    ev.detail.complete();
  }, 3000);
};
</script>






