<template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button color="medium" @click="cancel">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button @click="confirm" :strong="true">Confirm</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding !pl-2">
      <ion-item-group>
        <ion-item>
          <ion-input label-placement="stacked" label="Enter task name" v-model="formData.name" placeholder="Task name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea label-placement="stacked" :rows="5" label="Enter task subject"  v-model="formData.subject" placeholder="Task subject"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-input label-placement="stacked" label="Enter task subject" type="date" v-model="formData.date " placeholder="Task subject"></ion-input>
        </ion-item>

      </ion-item-group>
    </ion-content>
</template>

<script lang="ts" setup>
import {
  IonContent,
  IonHeader,
  IonTitle,
  IonToolbar,
  IonButtons,
  IonButton,
  IonItem,
  IonInput,
  IonItemGroup,
  modalController,
  IonTextarea,
} from '@ionic/vue';
import { defineComponent, ref } from 'vue';
import {Task} from "@/data/tasks";
const formData = ref<Task>({
  name: '',
  subject: '',
  date: '',
  id: 0,
  check: false,
});
const cancel = () => modalController.dismiss(null, 'cancel');
const confirm = () => modalController.dismiss(formData.value, 'confirm');
</script>