<template>
  <ion-item class="list-item" v-if="task" >
    <div class="px-1 ml-2">
      <ion-checkbox labelPlacement="end" :mode="isIos() ? 'ios' : 'md'" @ionChange="click($event)" :checked="task.check" aria-label=""></ion-checkbox>
    </div>
    <ion-item :routerLink="'/message/' + task.id" :detail="false">
      <!--    <div slot="start" :class="!message.read ? 'dot dot-unread' : 'dot'"> {{message.read}} </div>-->
      <ion-label class="ion-text-wrap" >
        <h2>
          {{ task.name }}
          <span class="date">
          <ion-note>{{ task.date }}</ion-note>
          <ion-icon aria-hidden="true" :icon="chevronForward" size="small" v-if="isIos()"></ion-icon>
        </span>
        </h2>
        <h3>{{ task.subject }}</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </ion-label>
    </ion-item>
  </ion-item>

</template>

<script setup lang="ts">
import { IonIcon, IonItem, IonLabel, IonNote } from '@ionic/vue';
import { chevronForward } from 'ionicons/icons';
import {Task} from "@/data/tasks";
import {PropType} from "vue";
import { IonCheckbox } from '@ionic/vue';

const props = defineProps({
  task: Object as PropType<Task>,
  selected: Array as PropType<number[]>,
});


const isIos = () => {
  const win = window as any;
  return win && win.Ionic && win.Ionic.mode === 'ios';
};

const emit = defineEmits();

if (props.task?.check) {
  emit('taskSelected', props.task.id); // Emitir evento al componente padre
}

const click = ($event: any) => {
  const task = props.task;
  if (task) {
    emit('checkTask', task.id); // Emitir evento al componente padre
    if (task.check) {
      emit('taskSelected', task.id); // Emitir evento al componente padre
    } else {
      emit('taskDeselected', task.id); // Emitir evento al componente padre
    }
  }
};
</script>

<style scoped>
.list-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.list-item ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.list-item h2 {
  font-weight: 600;
  margin: 0;
}

.list-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

.list-item .date {
  float: right;
  align-items: center;
  display: flex;
}

.list-item ion-icon {
  color: #c9c9ca;
}

.list-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

.list-item ion-note.md {
  margin-right: 14px;
}

.list-item .dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.list-item .dot-unread {
  background: var(--ion-color-primary);
}
</style>
