<template>
  <k-provider theme="parent">
    <ion-app>
      <ion-router-outlet />
    </ion-app>
  </k-provider>
</template>

<script setup lang="ts">
import { kProvider } from 'konsta/vue';
import { IonApp, IonRouterOutlet } from '@ionic/vue';
import './theme/app.css';

</script>
